/*Colors*/
:root {
  --primary-font-color: black;
  --secondary-font-color: #333333;
  --primary-background-color: #ffffff;
  --image-background-spare-color: #5d8eaf;
  --secondary-background-color: #83b3d3;
  --advantage-background-grey: rgba(131, 179, 211, 0.12);
  --advantage-background-dark-grey: rgba(131, 179, 211, 0.2);
  --find-hotel-button-color: #756257;
  --favorite-hotels-button-color: #7db54f;
  --rating-background: #f2f2f2;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*Sticky-footer -> height of page*/
html {
  height: 100%;
}

body {
  margin: 0; 
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
}

/*
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
*/

/*stretch "Main" to full screen*/
.main-container {
  flex-grow: 1; 
  padding: 0;
}

/* specify the page_width */
.page-container {
  width: 1200px;
  margin: 0 auto;
  
}


/*Index_welcome_section*/
.intro-index {
  color: var(--primary-background-color);
  background-color: var(--image-background-spare-color);
  min-height: 485px;
  background-image: url("../img/index/welcom_section/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

/*Header-navigation*/
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 531px;
  list-style-type: none;

}

.navigation-user {
  max-width: 280px;
  margin-left: auto;
  list-style-type: none;
 
}

.navigation-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

/*All small buttons*/
.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-background-color);
  border: none;
}

/*header-button*/
.button-find-navigation {
  background-color: var(--find-hotel-button-color);
}

/*Index_advantages*/
/* Advantages-list */
.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  width: 400px;
  height: 384px;
  text-align: center;   
}

/* Флекс-контейнер для построения плитки преимуществ */
.advantage-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.advantages {
  text-align: center;
}

.advantage-blue {
  color: var(--primary-background-color);
  background-color: var(--secondary-background-color);
}

.advantage-grey {
  background-color: var(--advantage-background-grey);
}

.advantage-dark-grey {
  background-color: var(--advantage-background-dark-grey);
}

.advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: var(--secondary-font-color);
}

.advantages-description-blue {
  color: var(--primary-background-color);
}

/*Index-Find-hotel-section*/
.find-hotel {
  text-align: center;
}

.find-hotel-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.find-hotel-description {
  font-size: 22px;
  line-height: 26px;
  color: var(--secondary-font-color);
}

/*Index-button-Find-hotel-in-Sedona*/
.button-find {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: var(--primary-background-color);
  background-color: var(--find-hotel-button-color);
  border: none;
}

/*Subscribe_section*/
.subscribe {
  text-align: center; 
}

.subscribe-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
  color: var(--primary-background-color);
  background-color: var(--secondary-background-color);
  border: none;
}

/*Index-subscribe*/
.subscribe-index {
  color: var(--primary-background-color);
  background-color: var(--image-background-spare-color);
  min-height: 411px;
  background-image: url("../img/index/subscribe_index_background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/*Footer*/
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.footer-social {
  list-style-type: none;
  width: 120px;
  margin-left: 72px;
  margin-right: 48px;  
}

.social-button {  
  color: inherit;
  text-decoration: none;
}

.footer-contacts-phone {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.htmlacademy-link {
  margin-left: 53px;
  margin-right: auto;  
}

/*Catalog*/
.catalog-hotels {
  color: var(--primary-background-color);
  background-color: var(--image-background-spare-color);
  background-image: url("../img/catalog/catalog-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/*Catalog-Title*/
.catalog-hotels-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
}

/*Catalog-title-of-filters-kind*/
.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

/*Catalog-Button-apply-filters*/
.catalog-filter-button {
  background-color: var(--secondary-background-color);
  border: none;
}

/*Catalog-Button-reset-filters*/
.catalog-filter-reset {
  text-align: center;
  background-color: transparent;
  border: none;
  color: var(--primary-background-color);
}

/*Catalog-Title-of-search-results*/
.search-result h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}

/*sorting-search-results*/
.select-control {
  color: var(--secondary-font-color);
}

/*Catalog-hotels-card*/
.hotel-card {
  color: var(--secondary-font-color);
}

/*Catalog-hotel-title*/
.hotel-card-link {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: var(--primery-color);
  text-decoration: none;
}

/*Catalog-Button-on-hotel-card-more-information*/
.hotel-card-button {
  background-color: var(--find-hotel-button-color);
}

/*Catalog-Button-on-hotel-card-to-favorite*/
.hotel-to-favorite {
  background-color: var(--secondary-background-color);
}

/*Catalog-Button-on-hotel-card-in-favorite*/
.hotel-in-favorite {
  background-color: var(--favorite-hotels-button-color);
}

/*Catalog-rating-of-hotel*/
.rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-font-color);
  background-color: var(--rating-background);
}

/*Catalog-pagination-buttons*/
.pagination-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-background-color);
  background-color: var(--secondary-background-color);
  border: none;
}

.pagination-current {
  background-color: var(--rating-background);
}
